@tailwind base;
@tailwind components;
@tailwind utilities;

.messages{
  height: 85%;
}

.message{
  height: 15%;
}

.user{
  font-size: 12px;
  color:#fff;
}

.container{
  min-height:400px;
  overflow: auto; 
  max-height:400px;
}